body {
    background: url(https://static.vecteezy.com/system/resources/previews/006/457/182/original/purple-gradient-background-great-for-banners-presentations-business-cards-web-design-social-media-free-vector.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  header {
    background-color: #c0b6c0;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 48px;
    margin: 0;
    color: #fff;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
    color: #062af8;
  }
  
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  
  ul {
    margin: 0;
    padding: 0 0 0 20px;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 5px;
    color: #767277;
  }
  
  .links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  a {
    background-color: #d6cfe2;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
  }

  a:hover {
    transform: scale(1.1);
    }
    
    img {
    width: 60px;
    height: 60px;
    }
    
    a img {
    max-width: 100%;
    }
    
    .github-logo {
    background-image: url("https://media.discordapp.net/attachments/1082292730761318443/1092108893422887012/github.png?width=408&height=408");
    background-size: contain;
    }
    
    .tiktok-logo {
    background-image: url("https://media.discordapp.net/attachments/1082292730761318443/1092109388463996989/tiktok.png?width=408&height=408");
    background-size: contain;
    }
    
    .discord-logo {
    background-image: url("https://media.discordapp.net/attachments/1082292730761318443/1092108347756511393/discord.png?width=408&height=408");
    background-size: contain;
    }
    
    .twitter-logo {
    background-image: url("https://media.discordapp.net/attachments/1082292730761318443/1092109520383246436/twitter.png?width=408&height=408");
    background-size: contain;
    }